
y
{{ ocs_database_server }}
{{ ocs_database_server_port }}
{{ apache_daemon_binary_location }}
{{ apache_main_configuration_file }}
{{ apache_account }}
{{ apache_group }}
{{ apache_include_conf_directory }}
{{ perl_interpreter_binary }}
{{ install_communication_server }}
{{ desired_log_path }}
{{ desired_plugin_conf_file_path }}
{{ desired_perl_module_file_path }}
y
{{ rest_api_store }}
y
y
y
{{ static_admin_console_file_path }}
{{ deployment_package_dir_path }}
